body{
    height:100vh;
    display:grid;
    place-items: center;
    background-color: hotpink;

}

.buton{
    background-color: aliceblue;
    border:0;
    margin-left: 20px;
    width: 70px;
}

.counter{
   position: relative;
   left: 95px;
   bottom:20px;
   font-size: large;
   
}